%h2
  Create new item category

= simple_form_for @item_category, url: business_item_categories_path do |f|
  = f.error_notification
  = f.input :name, placeholder: 'Name', label: false, required: true, autofocus: true
  = f.input :price, placeholder: 'Price', label: false, required: true
  = f.input :deposit, placeholder: 'Price', label: false
  = f.input :description, placeholder: 'Description', label: false, required: true

  = f.button :submit, 'Create'
