.panel.panel-default
  .panel-heading
    = "Users in #{@company.name}"
    = link_to "Add new user", custom_new_user_invitation_path, class: "btn btn-default pull-right"
  %table.table
    %tr
      %th
        No.
      %th
        Email
      %th
        Role
      %th
        Last sign in at
      %th
        Actions
    - @users.each_with_index do |user, index|
      %tr
        %td
          = "##{index}"
        %td
          = user.email
        %td
          - if current_user.has_permissions? && !user.is_owner?
            .btn-group
              %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                = user.current_role
                %span.carret
              %ul.dropdown-menu{:role => "menu"}
                - user.possible_roles.each do |role|
                  %li
                    = link_to "#{parse_role(role)}", toggle_role_business_user_path(user), method: :post
          - else
            = user.current_role
        %td
          = user.last_sign_in_at
        %td
          - unless user.is_owner? || user == current_user
            = link_to 'Destroy', business_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }
